USE [master]
GO
/****** Object:  Database [SucursalSanJose]    Script Date: 6/9/2021 2:06:32 PM ******/
CREATE DATABASE [SucursalSanJose]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SucursalSanJose', FILENAME = N'C:\Program Files\Microsoft SQL Server DE RE2\MSSQL15.RE2\MSSQL\DATA\SucursalSanJose.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SucursalSanJose_log', FILENAME = N'C:\Program Files\Microsoft SQL Server DE RE2\MSSQL15.RE2\MSSQL\DATA\SucursalSanJose_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SucursalSanJose].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SucursalSanJose]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 6/9/2021 2:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IDCategoria] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[categoria] [varchar](25) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__Categori__70E82E28BD7A6CF6] PRIMARY KEY CLUSTERED 
(
	[IDCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 6/9/2021 2:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IDcliente] [int] IDENTITY(1,1) NOT NULL,
	[IDgenero] [tinyint] NOT NULL,
	[nombreCliente] [varchar](25) NOT NULL,
	[apellidoCliente] [varchar](25) NOT NULL,
	[email] [varchar](60) NOT NULL,
	[telefono] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesFacturas]    Script Date: 6/9/2021 2:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesFacturas](
	[IDfactura] [bigint] NOT NULL,
	[IDproducto] [int] NOT NULL,
	[precioUnitario] [decimal](18, 0) NOT NULL,
	[cantidad] [tinyint] NOT NULL,
	[total] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enfermedades]    Script Date: 6/9/2021 2:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enfermedades](
	[IDEnfermedad] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[enfermedad] [varchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__Enfermed__4856161E0E53638E] PRIMARY KEY CLUSTERED 
(
	[IDEnfermedad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 6/9/2021 2:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[IDfactura] [bigint] IDENTITY(1,1) NOT NULL,
	[IDfarmaceutico] [int] NOT NULL,
	[IDcliente] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[subTotal] [decimal](18, 0) NOT NULL,
	[total] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDfactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Farmaceuticos]    Script Date: 6/9/2021 2:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farmaceuticos](
	[IDfarmaceutico] [int] IDENTITY(1,1) NOT NULL,
	[nombreFarmaceutico] [varchar](25) NOT NULL,
	[apellidoFarmaceutico] [varchar](25) NOT NULL,
	[email] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDfarmaceutico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 6/9/2021 2:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generos](
	[IDgenero] [tinyint] IDENTITY(1,1) NOT NULL,
	[genero] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDgenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventarios]    Script Date: 6/9/2021 2:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventarios](
	[IDProducto] [int] NOT NULL,
	[cantidad] [varchar](25) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 6/9/2021 2:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IDProducto] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[IDCategoria] [int] NOT NULL,
	[productoDes] [varchar](100) NULL,
	[precio] [decimal](18, 0) NOT NULL,
	[imagen] [varchar](500) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__Producto__ABDAF2B4A1AB893F] PRIMARY KEY CLUSTERED 
(
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tratamiento]    Script Date: 6/9/2021 2:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tratamiento](
	[IDProducto] [int] NULL,
	[IDEnfermedad] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_997578592]    Script Date: 6/9/2021 2:06:32 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_997578592] ON [dbo].[Categorias]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1077578877]    Script Date: 6/9/2021 2:06:32 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1077578877] ON [dbo].[Enfermedades]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1029578706]    Script Date: 6/9/2021 2:06:32 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1029578706] ON [dbo].[Productos]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1109578991]    Script Date: 6/9/2021 2:06:32 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1109578991] ON [dbo].[Tratamiento]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categorias] ADD  CONSTRAINT [MSmerge_df_rowguid_749DED0BEBE24B76B5A78AF9138C6534]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Enfermedades] ADD  CONSTRAINT [MSmerge_df_rowguid_F8BA0D0A1ACF4233ACCCBC5909657988]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [MSmerge_df_rowguid_87B67F9B963D4359ABF2934611C706CC]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Tratamiento] ADD  CONSTRAINT [MSmerge_df_rowguid_119426094E504C3BB13C9245F5912D5F]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD FOREIGN KEY([IDgenero])
REFERENCES [dbo].[Generos] ([IDgenero])
GO
ALTER TABLE [dbo].[DetallesFacturas]  WITH CHECK ADD FOREIGN KEY([IDfactura])
REFERENCES [dbo].[Facturas] ([IDfactura])
GO
ALTER TABLE [dbo].[DetallesFacturas]  WITH CHECK ADD FOREIGN KEY([IDproducto])
REFERENCES [dbo].[Productos] ([IDProducto])
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD FOREIGN KEY([IDcliente])
REFERENCES [dbo].[Clientes] ([IDcliente])
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD FOREIGN KEY([IDfarmaceutico])
REFERENCES [dbo].[Farmaceuticos] ([IDfarmaceutico])
GO
ALTER TABLE [dbo].[Inventarios]  WITH CHECK ADD FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Productos] ([IDProducto])
GO
ALTER TABLE [dbo].[Productos]  WITH NOCHECK ADD  CONSTRAINT [FK__Productos__IDCat__3F466844] FOREIGN KEY([IDCategoria])
REFERENCES [dbo].[Categorias] ([IDCategoria])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK__Productos__IDCat__3F466844]
GO
ALTER TABLE [dbo].[Tratamiento]  WITH NOCHECK ADD  CONSTRAINT [FK__Tratamien__IDEnf__440B1D61] FOREIGN KEY([IDEnfermedad])
REFERENCES [dbo].[Enfermedades] ([IDEnfermedad])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Tratamiento] CHECK CONSTRAINT [FK__Tratamien__IDEnf__440B1D61]
GO
ALTER TABLE [dbo].[Tratamiento]  WITH NOCHECK ADD  CONSTRAINT [FK__Tratamien__IDPro__4316F928] FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Productos] ([IDProducto])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Tratamiento] CHECK CONSTRAINT [FK__Tratamien__IDPro__4316F928]
GO
ALTER TABLE [dbo].[Categorias]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_5B50FC89_F673_40A0_A519_6232A3E8372E] CHECK NOT FOR REPLICATION (([IDCategoria]>(6002) AND [IDCategoria]<=(7002) OR [IDCategoria]>(7002) AND [IDCategoria]<=(8002)))
GO
ALTER TABLE [dbo].[Categorias] CHECK CONSTRAINT [repl_identity_range_5B50FC89_F673_40A0_A519_6232A3E8372E]
GO
ALTER TABLE [dbo].[Enfermedades]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_AB4E1E66_6F36_4C71_B6C0_0A7222E6C589] CHECK NOT FOR REPLICATION (([IDEnfermedad]>(6001) AND [IDEnfermedad]<=(7001) OR [IDEnfermedad]>(7001) AND [IDEnfermedad]<=(8001)))
GO
ALTER TABLE [dbo].[Enfermedades] CHECK CONSTRAINT [repl_identity_range_AB4E1E66_6F36_4C71_B6C0_0A7222E6C589]
GO
ALTER TABLE [dbo].[Productos]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_99C9381F_6AB1_4F74_994A_5C03AB884EF2] CHECK NOT FOR REPLICATION (([IDProducto]>(6014) AND [IDProducto]<=(7014) OR [IDProducto]>(7014) AND [IDProducto]<=(8014)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [repl_identity_range_99C9381F_6AB1_4F74_994A_5C03AB884EF2]
GO
/****** Object:  StoredProcedure [dbo].[InsertarCategoria]    Script Date: 6/9/2021 2:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarCategoria] 
	-- Add the parameters for the stored procedure here
	@categoria varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Categorias (categoria)
		VALUES (@categoria);
END

GO
/****** Object:  StoredProcedure [dbo].[InsertarProducto]    Script Date: 6/9/2021 2:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarProducto]
	-- Add the parameters for the stored procedure here
	@IDCategoria int,
	@productoDes varchar(100),
	@precio decimal,
	@imagen varchar(500)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Productos (IDCategoria, productoDes, precio, imagen)
		VALUES (@IDCategoria, @productoDes, @precio, @imagen);
END

GO
USE [master]
GO
